.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    user-select: none;
    -webkit-user-drag: none;
    cursor: not-allowed;
    pointer-events: none;
}

.loader {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top: 5px solid white;
    animation: spin 1.5s linear infinite;
    border-radius: 50%;
}

.loader__text {
    color: white;
    font-size: 16px;
    margin-top: 5px;
}

@keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }