.map {
  width: 70%;
  height: 100vh;
  border: 4px solid black;
  position: relative;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border-radius: 4px;
}

.ymaps-2-1-79-copyright__wrap,
.ymaps-2-1-79-map-copyrights-promo {
  display: none !important;
}

.ymaps-2-1-79-zoom__plus,
.ymaps-2-1-79-zoom__minus,
.ymaps-2-1-79-float-button {
  transition: all 0.15s ease-in-out;
}

.ymaps-2-1-79-zoom__plus:hover,
.ymaps-2-1-79-zoom__minus:hover,
.ymaps-2-1-79-float-button:hover {
  background-color: #f0f0f0 !important;
}

.leaflet-left {
  right: 10px !important;
  left: auto !important;
}

#root > div > div.page__content > div.map.leaflet-container.leaflet-touch.leaflet-retina.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom > div.leaflet-control-container > div.leaflet-bottom.leaflet-right > div {
  display: none !important;
}

.leaflet-interactive:focus {
  outline: none !important;
}

.style-map--button {
  position: absolute;
  top: 15px;
  right: 60px;
  z-index: 1001;
  border-radius: 50%;
  padding: 4px 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.style-map--button img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}